body{
  margin:0;
  font-family: Arial;
  background:#111;
  color:white;
}

h2{text-align:center;margin:10px;}
#search-input{
  display:block;
  width:80%;
  margin:10px auto;
  padding:8px;
  font-size:16px;
}

.container{
  display:flex;
  height:80vh;
}

.player{
  flex:2;
  display:flex;
  justify-content:center;
  align-items:center;
}

video{
  width:90%;
  max-height:80vh;
  background:black;
}

.channels{
  flex:1;
  overflow-y:auto;
  background:#1c1c1c;
  padding:10px;
}

.channel{
  padding:8px;
  border-bottom:1px solid #333;
  cursor:pointer;
}

.channel:hover{
  background:#333;
}

.channel:hover {
    background: #333;
}




