body {
    background: #0b0b0b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#player {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}


#channels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.channel {
    background: #1c1c1c;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.channel:hover {
    background: #333;
}



